.background{
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 885868585866868;
  background-color: rgba(17, 17, 17, 0.15);
  backdrop-filter: blur(62px);
  display: flex;
  align-items: center;
  justify-content: center;

  .container{
    position: relative;
    width: 600px;
    min-height: 399px;
    background-color: #fff;
    padding: 66px 32px 34px;
    border-radius: 24px;
    display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;

    .tint{
      top: 0;
      left: 0;
      border-radius: 24px;
      position: absolute;
      width: 100%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(1px);
      display: flex;
  align-items: center;
  justify-content: center;
    }
    .closeBtn{
      position: absolute;
      top: 32px;
      right: 32px;
    }
    .header{
      width: 410px;
      color: #333;
      text-align: center;
      font-size: 32px;
      font-weight: 600;
      line-height: 48px; /* 150% */
      margin-bottom: 32px;
    }
    .label{
      align-self: flex-start;
      color: #666;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 8px;
    }
    .urlInput{
      width: 100%;
      padding: 16px;
      border-radius: 12px;
      border: 1px solid rgba(102, 102, 102, 0.35);
      caret-color: #2196F3;
      margin-bottom: 32px;

      &:focus{
        outline: none;
        border-color: #2196F3;
      }
    }
    .error{
      border: 1px solid #F2271C;
      margin-bottom: 4px;

      &:focus{
        outline: none;
        border-color: #F2271C;
      }
    }
    .errorMsg{
      color: var(--red-r-600, #F2271C);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 32px;
      align-self: flex-start;
    }
  }
}