.container{
    width: 97%;
    margin: 0 auto;
    display: flex;
    // align-items: center;
    gap: 20px;
    .patient_form{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 20px;
    }
    .review_form{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 20px;
        .review_form_action{
            display: grid;
            grid-template-columns: 85% 10%;
              gap: 10px;
            width: 100%;
        }
    }
}