.qr_wrap {
   .qr_wrap_header {
 
     height: 80px;
     border-bottom: "1px solid #e0e0e0";
     background-color: $dark-bg;
 
 
   }
   .contendCon {
     width: 97%;
     margin: 0 auto;
     .filterWrap{
       margin-bottom: 14px;
       display: flex;
       align-items: center;
       justify-content: flex-start;
       gap: 8px;
     }
 
     .contend {
       width: 100%;
       position: relative;
       .dragWrap {
         position: absolute;
         top: 50px;
         z-index: 1;
         right: 20px;
         .dragContend {
           width: 300px;
           height: auto;
           padding: 4px 0;
           background-color: #fcfcfc;
           border-radius: 8px;
           border: 1px solid #f2f4f7;
           box-shadow: 0px 4px 6px -2px #10182808,0px 12px 16px -4px #10182814;
         }
       }
     }
 
   }
 }
 
 .checkbox {
   padding: 20px;
   background-color: red;
   accent-color: #F9F5FF;
   border-radius: 14px !important;
   border-color: #4d4aea;
   padding: 20px;
   width: 20px;
   height: 20px;
   border: 1px solid red;
   position: relative;
   top: 3px;
   margin-right: 6px;
   :before {
     border: 1px solid #0095ff;
     box-shadow: 0 0 3px 2px #0095ff;
   }
 }
 