.accordion_wrap{
    width: 100%;
    padding:18px;
    border-radius: 8px;
    background-color: var( --main-light-color);
    height: auto;
    margin-top: 20px;
    .accordion_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .accordion_title{
            font-size: 24px;
            font-weight: 500;
            list-style: 38px;
            color: var(--card-title);
        }
        .iconOpen{
            border-radius: 50% !important;
            transform: rotate(0deg);
            transition: .3s transform;
        }
        .iconClose{
            border-radius: 50% !important;
            transform: rotate(-180deg);
      

        }
        
    }
    .accordion_body{
        display: block;
        height: 100%;
        transition: .3s all;

    }
    .accordion_body_close{
       
        overflow: hidden;
        display: none;
        transition: .3s all;
    }
}