.button_icon{
    width: 100%;
    height: 44px;
    background-color: #F9F5FF !important;
    color: #4D4AEA !important;
    margin-top: 20px;
    &:hover{
        background-color: #f4eefd !important;

    }
    span{
        margin-right: 5px;
    }
}