.wrap{
    position: relative;
}

input[type="checkbox"] {
    display: block; /* Checkboxni ekranda namoyish etmaslik */
    position: absolute;
    width: 23px !important;
    height: 23px;
    opacity: 0;
  }

  .checkboxDiv{
    width: 23px !important;
    height: 23px;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
  }

  input[type="checkbox"]:checked + .checkboxDiv{
    
    border: 2px solid #4D4AEA;
    background-color: #F9F5FF;
    background-image: url("assets/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

  }