.filerButton{
    background-color: white !important;
    border: 2px solid #E0E0E0;
    padding:22px 16px;
    border-radius: 10px !important;
    color: var(--card-title) !important;
    font-size: 14px;
    font-weight: 700;
    span{
        font-weight: 400 !important;
        margin-right: 6px;

    }
}