.header {
  width: 97%;
  margin: 0 auto;
  height: 90px;
  // border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.headerLeftSide {
  display: flex;
  align-items: center;
  gap: 15px;

  height: 100%;

  .title {
    font-weight: 600;
    font-size: 28px;
    color: var(--heading-color);
  }
}

.border {
  background: #e5e9eb;
  border-radius: 1px;
  height: calc(100% - 32px);
  width: 1px;
}

.headerMiddleSide {
  height: 100%;
  display: flex;
  align-items: center;
}

.headerExtraSide {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 15px;
  height: 100%;
}
