.btn {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.btnInner {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 12px;
  justify-content: space-between;
}

.btnInner.withPadding {
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
}

.labelWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.body {
  width: 100%;

  &:not(:last-child) {
    .btnInner.withPadding {
      border-bottom: 1px solid $border-color;
    }
  }
}
