.layout {
  // background-color: #F2F5FB;
  .card {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 150px;
    vertical-align: middle;
    transform: translate(0, 30%);
  
  }

  .box {
    width: 464px;
  }

  .logo {
    padding: 30px 40px;
    flex: 1;
  }
}
