@import "../../scss/font";
.sidebar_close {
  width: 80px;
  transition: 0.3s ease-in-out;

  background-color: $dark-bg-white;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 16px;
    margin-left: 25px;
    height: 94px;
    position: relative;
    .logo {
      display: none;
    }
  }

  .body {
    height: calc(100vh - 94px);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .arrowText {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      display: none;
      width: 100%;
    }

    .row {
      padding: 0 16px 0 16px;
      margin-bottom: 4px;
      position: relative;
      cursor: pointer;

      .element {
        height: 44px;
        padding: 0 14px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #2a2a2a;
        border-radius: 8px;

        .icon {
          font-size: 18px;
        }

        .label {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          display: none;
          font-family: "Inter";
        }
      }

      &.active {
        .element {
          background-color: $sidebar-active-btn;
          color: #fff !important;
        }
      }

      &:hover > .element {
        background-color: $row-hover;
        color: #2a2a2a !important;
        transition: all 0.3s ease-in-out;
      }
    }
    .logoutWrap {
      width: 100%;
      height: auto;
      margin-top: auto;
      margin-bottom: 20px;
      margin-left: 6px;
      margin-right: 6px;

      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .element {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userText {
          font-weight: 600;
          font-size: 14px;
          line-height: normal;
          span {
            color: #8c8e90 !important;
          }
          display: none;
        }

        .menu {
          display: none !important;
        }
        .menuicon {
          display: none !important;
        }

        .menuList {
          display: none;
          border: 1px solid $border-color;
          .menuitem {
            font-size: 15px !important;
            border-bottom: 1px solid $border-color;
            &:hover {
              background-color: $row-hover !important;
            }
          }
        }
      }
      .version {
        display: none;
      }
    }
  }
}

.sidebar {
  width: 260px;
  transition: 0.3s ease-in-out;
  background-color: $dark-bg-white;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 94px;
    position: relative;
    margin-left: 10px;

    .logo {
      font-size: 18px;
      font-family: Inter;
      font-weight: 600;
      margin-left: 5px;

      transition: all 1s ease-in-out;
    }
  }

  .body {
    height: calc(100vh - 94px);
    display: flex;
    flex-direction: column;
    overflow: auto;

    .arrowText {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: black;
    }

    .row {
      padding: 0 16px 0 16px;
      margin-bottom: 4px;
      position: relative;
      cursor: pointer;

      .element {
        height: 44px;
        padding: 0 14px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #2a2a2a;
        border-radius: 6px;

        .icon {
          font-size: 18px;
        }

        .label {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &.active {
        .element {
          background-color: $sidebar-active-btn;
          color: #fff !important;
        }
      }

      &:hover > .element {
        background-color: $row-hover;
        color: #2a2a2a !important;
        transition: all 0.3s ease-in-out;
      }
    }
    .logoutWrap {
      width: 100%;
      height: auto;
      margin-top: auto;
      margin-bottom: 20px;
      position: relative;

      .element {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid #ffffff;
        border-radius: 12px;
        width: fit-content;
        margin-left: 12px;
        gap: 10px;
        padding: 10px;

        .userText {
          font-weight: 600;
          font-size: 14px;
          line-height: normal;
          span {
            color: #8c8e90 !important;
          }
        }

        .menuList {
          border: 1px solid $border-color;
          .menuitem {
            font-size: 15px !important;
            border-bottom: 1px solid $border-color;
            &:hover {
              background-color: $row-hover !important;
            }
          }
        }
      }
      .version {
        font-size: 14px;
        color: #8c8e90;
        margin-top: 20px;
        margin-left: 15px;
        font-weight: 500;
        text-align: center;
      }
    }
  }
}
