$dark-bg: #d1ddf4; 
$dark-bg-white:#F3F5FD;
$sidebar-bg: #f2f4fc;
$sidebar-active-btn: #4d4aea;
$exit-profile: #ff0000;
$region-name: #2a2a2a;
$name-color: #101828;
$table-color: #475467;
$secondary: #8c8e90;
$submit-color: #7f56d9;
$enter-btn: #0057ff;
$input-bg: #ededff;
$input-placeholder: #a7a3ff;
$body-bg:#C5D7F2;
$color-white:#ffff;
$row-hover:#4D4AEA1A;
$border-color: #EAECF0;
$table-b:#fff;
$thead-b: #f9fafb;
$th-color:#475467;
//   