@import "./table.scss";
@import "./dnd.scss";
@import "./font";

:root {
  --primary-color: #0073ff;
  --main-color: #e2e4f1;
  --main-light-color: #fff;
  --button-color: linear-gradient(to top, #0073ff, #00c2ff);
  --text-grey-color: #9093a2;
  --page-main-color: #dfe1ee;
  --page-header-color: #e2e4f1;
  --page-header-border-color: #c9cbd9;
  --title-text-color: #363845;
  --close-icon-color: #242429;
  --icon-card-number-color: #363845;
  --icon-card-cost-color: #363845;
  --icon-card-text-color: #9093a2;
  --location-bg-color: #fff;
  --bonus-card-color: #fff;
  --bonus-border-color: #fff;
  --bonus-input-color: #fff;
  --add-btn-color: #fff;
  --card-value-color: #ececec;
  --card-title:#2A2A2A;
  --table-border-color:#EAECF0
}

html[click-theme="dark"] {
  --primary-color: #0073ff;
  --main-color: #242429;
  --main-light-color: #2c2d35;
  --button-color: linear-gradient(to top, #0073ff, #00c2ff);
  --text-grey-color: #b3b7ce;
  --page-main-color: #1c1c1e;
  --page-header-color: #242429;
  --page-header-border-color: #4b4b59;
  --title-text-color: #fff;
  --close-icon-color: #fff;
  --icon-card-number-color: #fff;
  --icon-card-cost-color: #fff;
  --bg-shadow-color: rgba(0, 0, 0, 0.5);
  --icon-card-text-color: #363845;
  --location-bg-color: #242429;
  --bonus-card-color: #242429;
  --bonus-border-color: #313136;
  --bonus-input-color: #34353f;
  --add-btn-color: #fff;
  --card-title:#2a2a2a65;
  --table-border-color:#EAECF0

  //ymap color
  --invert-filter: invert(100%);
  --ms-invert-filter: invert(100%);
  --webkit-invert-filter: invert(100%);
  --moz-invert-filter: invert(100%);
  --o-invert-filter: invert(100%);
  body {
    background: #242429;
  }
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.css-wtf6ne {
  background-color: #fff !important;
}

.rc-table .rc-table-head.rc-table-hide-scrollbar::-webkit-scrollbar {
  width: 20px !important;
}
body {
  background-color: #f2f4f7;
  font-family: "Inter", sans-serif !important;
}

// table {
//   border-collapse: separate !important;
// }
